
<title><%= config.title %></title>
<link rel="shortcut icon" href="<%= theme.site.icon %>" type="image/x-icon"/>
<link rel="icon" href="img/gif_favicon.gif" type="image/gif">
<meta charset="UTF-8">
<meta name="keywords" content="<%= config.keywords %>">
<meta name="viewport" content="width=device-width, initial-scale=1">