<ul id="slide-out" class="side-nav">
    <li><div class="userView">
        <div class="background">
        <img src="images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="http://www.materializecss.cn/images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">张三</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@sina.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>带图标的第一链接</a></li>
    <li><a href="#!">第二链接</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">子标题</a></li>
    <li><a class="waves-effect" href="#!">带波纹效果的第三链接</a></li>
</ul>