<link rel="stylesheet" href="<%= theme.partial.css.post_banner_common %>">
<div class="slider">
    <ul class="slides">
    <% if(page.banner && page.banner.length){
        page.banner.map(pageBannerItem => { %>
        <li class="postBannerCommonLi" style="background-image:url(<%= pageBannerItem %>);"></li>
        <% }); %>
    <% }else{ 
        theme.posts.defaultBanner.map(postsDefaultBanner => { %>
        <li class="postBannerCommonLi" style="background-image:url(<%= postsDefaultBanner %>);"></li>
    <% }); } %>
    </ul>
    <h1 id="postTitle" class="center-align"><%= page.title %></h1>
</div>